
.stanford-button {
  background-color: rgb(140,0,0) !important;
}

.stanford-alert.mantine-Alert-root {
  color: rgb(140,0,0) !important;
  padding: 0 !important;
}

.pagination-active-bg {
  background-color: rgb(140,0,0) !important;
}

.mantine-Pagination-root {
  --pagination-active-bg: rgb(140,0,0) !important;
}
