.mantine-Blockquote-icon {
    background-color: rgb(248, 249, 250);
}

.mantine-Blockquote-root {
    padding: 20px;
}

.main-table th{
    text-align: left !important;
}

.main-table th:first-child {
    width: 75px;
    padding-left: 15px !important;
}

.main-table tbody {
    padding-left: 15px !important;
}

.main-table td:first-child {
    padding-left: 15px !important;
}

.main-table thead th:nth-child(2) {
    width: 180px;
}

.main-table thead th:nth-child(3) {
    /*min-width: 500px;*/
    width: auto !important;
}

.main-table thead th:nth-child(4) {
    width: 200px !important;
}
.main-table thead th:nth-child(5) {
    width: 125px !important;
}
.main-table thead th:nth-child(6) {
    width: 100px !important;
}


/* Highlight active column */
.active-column {
    color: rgb(120,0,0);
}

