.mantine-Blockquote-icon {
    background-color: rgb(248, 249, 250);
}

.mantine-Blockquote-root {
    padding: 20px;
}

thead th:first-child {
    width: 75px;
}

thead th:nth-child(2) {
    width: 75px;
}

thead th:nth-child(3) {
    width: 200px;
}

thead th:nth-child(4) {
    width: 500px;
}

#inactive-table .mantine-Card-section {
    color: red;
}

